.row {
    float: top;
    width: 1000px;
    overflow: hidden;

}
.spell-tile {
    width: 480px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
}

.desc {
    height: 200px;
    width: 480px;
}

.desc * {
    float:left;
    padding-right:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}